/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/logs
/public/uploads
/public/nginx.htaccess
/public/.htaccess
/.buildpath
/.project
/.settings
/.htaccess
/public/.user.ini
/.user.ini
/public/shareqrcode
/vendor/workerman/workerman.log
/nginx.htaccess
